<div style="width: 100%; text-align: center; display: block;">

    <h2>Argentina Programa Trabajo Práctico</h2>
    <h5>Validación inicial</h5>
    <div style="display: flex; flex-direction: column; justify-items: center; align-items: center; margin: 1rem;">
        <div style="margin-right: 1rem;">
            <h3>{{num1}} - {{num2}}</h3>
        </div>
        <div style="margin: 0.5rem;">
            <input matInput type="text" [(ngModel)]="userresult" placeholder="resultado">
        </div>
        <div style="margin: 0.5rem;">
            <input matInput type="password" [(ngModel)]="password" placeholder="password">
        </div>
    </div>
    <button mat-icon-button color="primary" (click)="validate()">validar</button>
    <!-- <div *ngIf="showEnter">
        <a routerLink="/argProgMain" class="btn">Entrar</a>
    </div> -->
</div>