<!-- <div 
    class="aboutme"
    [ngClass]="{ reminder: aboutme.reminder }"
    (click)="onToggle(aboutme)"
> -->
<div class="education">
    <div style="display: flex; width: 100%; justify-content: flex-end;">
        <div style="display: inline-block; margin: 1rem;">
            <button mat-icon-button [ngStyle]="{'color':'red'}" (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div style="display: inline-block; margin: 1rem">
            <button mat-icon-button (click)="onUpdate()" [ngStyle]="isupdate ? {'color':'darkgray'} : {'color': 'green'}">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div style="display: inline-block; margin: 1rem">
            <button mat-icon-button [disabled]="model.id == final" (click)="onDown()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
        <div style="display: inline-block; margin: 1rem">
            <button mat-icon-button	[disabled]="model.id == begin" (click)="onUp()">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
        </div>
    </div>

    <div class="form">
    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput type="text" [(ngModel)]="model.title" [disabled]="!isupdate" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Instituto</mat-label>
        <input matInput type="text" [(ngModel)]="model.institute" [disabled]="!isupdate" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Período</mat-label>
        <input matInput type="text" [(ngModel)]="model.period" [disabled]="!isupdate" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput type="text" [(ngModel)]="model.description" [disabled]="!isupdate"></textarea>
    </mat-form-field>

    </div>

    <div *ngIf="isupdate">
    Guardar Cambios
    <fa-icon [icon]="faCheckSquare" (click)="onSubmit()" aria-placeholder="Guardar">
    </fa-icon>
    </div>

</div>