header{
    display: flex;
    width: 100%;
    background-color: darkblue;
    justify-content: flex-start;
    color: aliceblue;
    align-items: center;
    margin-bottom: 20px;
    height: 4rem;
    
}
img {
    height: 40px;
    width: auto;
}