<header>
    <div style="width: 50%;">
        <div style="display: inline-block; margin: 1rem;">
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="blank"><img src="/assets/logo.png" alt=""></a>
        </div>
        <div style="display: inline-block; margin: 1rem">
        <h2>{{title}}</h2>
        </div>
    <!-- <app-button color="{{showAddTask ? 'red': 'green'}}" 
    text="{{showAddTask ? 'Close Task': 'Add Task'}}" (btnClick)="toggleAddTask()"
    *ngIf="hasRoute('/')"
    ></app-button> -->
    </div>
    <div style="width: 50%; text-align: right;">
    <a href="https://twitter.com" target="blank"><img src="/assets/twitter.png" alt=""></a>
    <a href="https://facebook.com" target="blank"> <img src="/assets/facebook.png" alt=""></a>
    <a href="https://instagram.com" target="blank"><img src="/assets/instagram.png" alt=""></a>
    </div>
</header>