<!-- <div 
    class="aboutme"
    [ngClass]="{ reminder: aboutme.reminder }"
    (click)="onToggle(aboutme)"
> -->
<div class="aboutme">
    <div style="display: flex; width: 100%; justify-content: flex-end;">
    <div style="display: inline-block; margin: 1rem;">
    <fa-icon [icon]="faTimes" [ngStyle]="{'color':'red'}" (click)="onDelete()">
    </fa-icon>
    </div>
    <div style="display: inline-block; margin: 1rem">
    <fa-icon [icon]="faPencilAlt" (click)="onUpdate()" [ngStyle]="isupdate ? {'color':'darkgray'} : {'color': 'green'}">
    </fa-icon>
    </div>
    <div style="display: inline-block; margin: 1rem">
        <button [disabled]="model.id == final">
            <fa-icon [icon]="faArrowDown" (click)="onDown()">
        </fa-icon>
        </button>
    </div>
    <div style="display: inline-block; margin: 1rem">
        <button [disabled]="model.id == begin">
        <fa-icon [icon]="faArrowUp" (click)="onUp()">
        </fa-icon>
        </button>
    </div>
    </div>

    <div class="form-control">
        <label for="text">Nombre y Apellido</label>
        <input type="text" name="fullname" id="fullname" placeholder="Agrega tu nombre completo" [(ngModel)]="model.fullname"
            [disabled]="!isupdate" />
    </div>

    <div class="form-control">
        <label for="text">Cargo Título</label>
        <input type="text" name="title" id="title" placeholder="Título" [(ngModel)]="model.title" [disabled]="!isupdate" />
    </div>

    <!-- <div class="form-control">
        <label for="text">PicFile</label>
        <input type="text" name="picfile" id="picfile" placeholder="picfile"
        [(ngModel)]="picfile"/>
    </div> -->

    <div class="form-control">
        <label for="text">Descripción</label>
        <input type="text" name="description" id="description" placeholder="Descripción" [(ngModel)]="model.description"
            [disabled]="!isupdate" />
    </div>

    <fa-icon [icon]="faCheckSquare" (click)="onSubmit()" *ngIf="isupdate" aria-placeholder="Guardar">
    </fa-icon>

</div>