<div class="add-form" *ngIf="showAddProject">
    

    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput type="text" [(ngModel)]="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fecha</mat-label>
        <input matInput type="text" [(ngModel)]="date" placeholder="Ej. formato: mm/aaaa" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <input matInput type="text" [(ngModel)]="description" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Link</mat-label>
        <textarea matInput type="text" [(ngModel)]="link"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">Guardar Projecto</button>
</div>
