<div class="add-form" *ngIf="showEducation">
    
    <mat-form-field appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput type="text" [(ngModel)]="title" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Instituto</mat-label>
        <input matInput type="text" [(ngModel)]="institute" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Período</mat-label>
        <input matInput type="text" [(ngModel)]="period" placeholder="Ej. período formato: mm/aaaa - mm/aaaa" />
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Descripción</mat-label>
        <textarea matInput type="text" [(ngModel)]="description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onSubmit()">Guardar Educación</button>
    
</div>
