<!-- <div 
    class="aboutme"
    [ngClass]="{ reminder: aboutme.reminder }"
    (click)="onToggle(aboutme)"
> -->
<div class="project">
    <div style="display: flex; width: 100%; justify-content: flex-end;">
        <div style="display: inline-block; margin: 1rem;">
            <button mat-icon-button [ngStyle]="{'color':'red'}" (click)="onDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        <div style="display: inline-block; margin: 1rem">
            <button mat-icon-button (click)="onUpdate()" [ngStyle]="isupdate ? {'color':'darkgray'} : {'color': 'green'}">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div style="display: inline-block; margin: 1rem">
            <button mat-icon-button [disabled]="model.id == final" (click)="onDown()">
                    <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
        </div>
        <div style="display: inline-block; margin: 1rem">
            <button mat-icon-button	[disabled]="model.id == begin" (click)="onUp()">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
        </div>
    </div>


    <div class="form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" [(ngModel)]="model.title" [disabled]="!isupdate" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha</mat-label>
            <input matInput type="text" [(ngModel)]="model.date" [disabled]="!isupdate" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" [(ngModel)]="model.description" [disabled]="!isupdate" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Enlace</mat-label>
            <textarea matInput type="text" [(ngModel)]="model.link" [disabled]="!isupdate"></textarea>
        </mat-form-field>
    </div>


        
    
    <div style="width: 100%; text-align: center; background-color:darkseagreen" *ngIf="isupdate">
    
            <button mat-icon-button (click)="onSubmit()" aria-placeholder="Guardar Cambios">
            <mat-icon>save</mat-icon>
            </button>
            
    </div>
</div>