<app-header></app-header>
<div style="display: block;">

    
    <div style="width: 80%; margin-left: auto; margin-right: auto;">
        <ngb-carousel >
            <ng-template ngbSlide>
              <div style="width: 100%; height: 500px;">
                <img src="assets/banner.jpg" alt="Random first slide">
              </div>
              <div class="carousel-caption">
                <h3>Soledad</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div style="width: 100%; height: 500px;">
                <img src="assets/banner2.jpg" alt="Random second slide">
              </div>
              <div class="carousel-caption">
                <h3>Esperanza</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div style="width: 100%; height: 500px;">
                <img src="assets/banner3.jpg" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <h3>Alegría</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
              </div>
            </ng-template>
        </ngb-carousel>
        <!-- <img src="assets/banner.jpg" alt="" style="width: 100%; height: 500px;"> -->
    </div>

    <div style="display: flex; width: 100%; margin: 2rem;">
        <div style="width: 50%; display: inline-flex;">
            <div style="display: block; height: 100%; width: 100%; text-align: center;">
                <div>
                    <img src="assets/ari_perfil.jpg" alt="" style="border-radius: 50%; width: 100px; height: 100px;">
                </div>
                <div>
                    Ariel Iha
                    Programador Fullstack Jr.
                </div>

                <div>
                    <div style="background-color: black; color: white; text-align: left; padding: 0.5rem; margin-top: 0.5rem;">
                        Acerca de </div>
                    <div *ngFor="let ame of aboutme" style="display: block; text-align: left;">
                        <br />
                        {{ame.title}} <br />
                        {{ame.description}} <br />
                    </div>
                    <div style="background-color: black; color: white; text-align: left; padding: 0.5rem; margin-top: 0.5rem;">
                        Experiencia </div>
                    <div *ngFor="let exp of experiences" style="display: block; text-align: left;">
                        <br />
                        {{exp.title}} <br />
                        {{exp.company}} <br />
                        {{exp.period}} <br />
                        {{exp.description}} <br />
                    </div>
                    <div style="background-color: black; color: white; text-align: left; padding: 0.5rem; margin-top: 0.5rem;">
                        Educación </div>
                    <div *ngFor="let educ of educations" style="display: block; text-align: left;">
                        <br />
                        {{educ.title}} <br />
                        {{educ.institute}} <br />
                        {{educ.period}} <br />
                        {{educ.description}} <br />
                    </div>
                    <div style="padding: 2rem;">
                        Habilidades Duras
                        <canvas baseChart 
                            [data]="pieChartDataThree" 
                            [labels]="pieChartLabelsThree" 
                            [chartType]="pieChartTypeThree"
                            [options]="pieChartOptionsThree"
                            [plugins]="pieChartPluginsThree"
                            [legend]="pieChartLegendThree">
                        </canvas>
                    </div>
                    <div style="padding: 2rem;">
                        Habilidades Blandas
                        <canvas baseChart 
                            [data]="pieChartDataTwo" 
                            [labels]="pieChartLabelsTwo" 
                            [chartType]="pieChartTypeTwo"
                            [options]="pieChartOptionsTwo"
                            [plugins]="pieChartPluginsTwo"
                            [legend]="pieChartLegendTwo">
                        </canvas>
                    </div>
                    <div style="padding: 2rem;">
                        Idiomas
                        <canvas baseChart 
                            [data]="pieChartData" 
                            [labels]="pieChartLabels" 
                            [chartType]="pieChartType"
                            [options]="pieChartOptions"
                            [plugins]="pieChartPlugins"
                            [legend]="pieChartLegend">
                        </canvas>
                    </div>
                    <div style="background-color: black; color: white; text-align: left; padding: 0.5rem; margin-top: 0.5rem;">
                        Proyectos </div>
                    <div *ngFor="let pr of projects" style="display: block; text-align: left;">
                        <br />
                        {{pr.title}} <br />
                        {{pr.date}} <br />
                        {{pr.description}} <br />
                        {{pr.link}} <br />
                    </div>

                    
                </div>
            </div>

        </div>
        <div style="width: 50%; display: inline-block; padding: 4rem;">
            <div style="border: 1px solid gray; margin: 1rem; padding: 1rem; border-radius: 1rem;">
                Acerca de
                <app-add-about-me-item *ngFor="let ame of aboutme" [aboutme]="ame" [begin]="aboutme[0].id"
                    [final]="aboutme[aboutme.length -1].id" (onDeleteAboutMe)="deleteAboutMe(ame)"
                    (onUpdateAboutMe)="updateAboutMe(ame)" (onArrowUp)="moveUp(ame)" (onArrowDown)="moveDown(ame)">
                </app-add-about-me-item>
                <add-about-me (onAddAboutMe)="addAboutMe($event)"></add-about-me>
            </div>
            <div style="border: 1px solid gray; margin: 1rem; padding: 1rem; border-radius: 1rem;">

                Experiencia
                <app-add-experience-item *ngFor="let exp of experiences" [experience]="exp" [begin]="experiences[0].id"
                    [final]="experiences[experiences.length -1].id" (onDeleteExperience)="deleteExperience(exp)"
                    (onUpdateExperience)="updateExperience(exp)" (onArrowUp)="moveUpExp(exp)"
                    (onArrowDown)="moveDownExp(exp)">
                </app-add-experience-item>
                <add-experience (onAddExperience)="addExperience($event)"></add-experience>

            </div>

            <div style="border: 1px solid gray; margin: 1rem; padding: 1rem; border-radius: 1rem;">

                Educación
                <app-add-education-item *ngFor="let educ of educations" [education]="educ" [begin]="educations[0].id"
                    [final]="educations[educations.length -1].id" (onDeleteEducation)="deleteEducation(educ)"
                    (onUpdateEducation)="updateEducation(educ)" (onArrowUp)="moveUpEduc(educ)"
                    (onArrowDown)="moveDownEduc(educ)">
                </app-add-education-item>
                <add-education (onAddEducation)="addEducation($event)"></add-education>

            </div>

            <div style="border: 1px solid gray; margin: 1rem; padding: 1rem; border-radius: 1rem;">

                Proyectos
                <app-add-project-item *ngFor="let pr of projects" [project]="pr" [begin]="projects[0].id"
                    [final]="projects[projects.length -1].id" (onDeleteProject)="deleteProject(pr)"
                    (onUpdateProject)="updateProject(pr)" (onArrowUp)="moveUpPr(pr)"
                    (onArrowDown)="moveDownPr(pr)">
                </app-add-project-item>
                <add-project (onAddProject)="addProject($event)"></add-project>

            </div>

        </div>



    </div>



</div>